# dependencies
node_modules
.pnp
.pnp.js

# env
.env
.env.local
.env.*.local

# build
dist
dist-ssr

# editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# supabase
supabase/.temp
